<div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96">
  <div class="relative mx-4 mt-4 text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl">
    <div class="flex justify-center">
      <img [src]="img" alt="img" class="w-100 h-72"/>
    </div>
  </div>
  <div class="p-6 text-center">
    <h4 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
      {{ nome }}
    </h4>
    <p
      class="block font-sans text-base antialiased font-medium leading-relaxed text-transparent bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
      {{ jogo }}
    </p>
  </div>
  <div class="flex justify-center mb-4">
    <ng-content></ng-content>
  </div>
</div>
