<h1 class="font-sans text-5xl antialiased font-semibold leading-tight tracking-normal text-transparent bg-gradient-to-tr from-blue-500 to-blue-400 bg-clip-text ml-3 pl-4 mt-3">
  Angular Fighting Games
</h1>
<div class="flex justify-center mt-3">
  <app-button>
    Add Jogo
  </app-button>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-3 mt-4">
  <app-card>
    <app-button>
      Detalhes
    </app-button>
  </app-card>
  <app-card>
    <app-button>
      Detalhes
    </app-button>
  </app-card>
  <app-card>
    <app-button>
      Detalhes
    </app-button>
  </app-card>
  <app-card>
    <app-button>
      Detalhes
    </app-button>
  </app-card>
</div>
